.homePage {
    padding-top: 80px;
    display: flex;
    width: 100%;
    background-color: #9C9583;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
body {
    background-color: #9C9583;
}
.searchDiv {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.homeTitle {
    color: #544c35;
    padding: 8px;
    background-color: #eee5ce;
    font-size: 24px;
}
.filter {
    position: absolute;
    right: 40px;
    background-color: #9C9583;
    font-size: 20px;
    border-radius: 9px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.865);
}
.filter:hover{
    background-color: #d6cdb4;
}
.filterText {
    font-size: 20px;
    background-color: #eee5ce;
    padding: 3px;
    
    border-radius: 7px;
}
.filterDiv {
    margin: 15px;
}
.notShow {
    display: none;
}
.order {
    position: absolute;
    right: 170px;
    background-color: #9C9583;
    font-size: 20px;
    border-radius: 9px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.865);
}

.selectOrder {
    background-color: #e7dec4;
    font-size: large;
    width: 180px;
}

@media (max-width: 600px){

.homePage{
    padding-top: 65px;
}
.homeTitle{
    font-size: 24px;
}
.searchDiv{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.order{
    position: relative;
    right: 0px;
    margin: 9px;
    margin-top: 18px;
    font-size: 12px;
    padding: 7px;
}
.selectOrder{
    font-size: 12px;
    width: 120px;
}
.filter{
    position: relative;
    right: 0px;
    margin: 9px;
    font-size: 12px;
    padding: 7px;
}
.filterDiv{
    margin: 6px;
}

.filterText{
    font-size: 13px;
    margin: 0px;
}
.filterText input {
    width: 10px;
    height: 10px;
}
.doShow h2{
    font-size:12px;
    margin: 0px;
    padding: 0px;
}
}