.welcome {
    /* position: absolute; */
    /* margin-top: 14%;
    margin-left: 40%; */
    display:flex;
    flex-direction: column;
    background-color: #5d574a70;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    justify-content: center;
    align-content: center;
}
.welcomeBG{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url('../../img/repetitive-bg.webp');
    justify-content: center;
    align-items: center;
}
.welcomeBut {
    padding: 9px;
    font-size: 18px;
    width: 300px;
    cursor: pointer;
    background-color: #E2D4B7;
    border-radius: 8px;
    font-weight: bold;
}
.welcomeBut:hover {
    background-color: #CADBC8;
}
.bg {
    display: grid;
    position: absolute;
    left: 0px;
    z-index: 3;
}
@media (max-width: 600px){
    .welcome{
        width: 250px;
        height: 170px;
        font-size: 12px;
    }
    .welcomeBut{
        padding: 6px;
        font-size: 14px;
        width: 200px;
    }
}