.bar {
    display: flex;
    justify-content: center;
    background-color: #E2D4B7;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0px;
}

.home {
    position: absolute;
    padding: 8px;
    margin-right: 90%;
    background-color: #9C9583;
    font-size: 20px;
    color:white;
    border-radius: 9px;
    color: inherit;
    text-decoration: none;
}
.raza {
    position: absolute;
    padding: 8px;
    margin-left: 90%;
    background-color: #9C9583;
    font-size: 20px;
    border-radius: 9px;
    color: inherit;
    text-decoration: none;
}